AuditoriaTSS/Web References/wsServices/AuditoriaWs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcesaBusquedaAfiliados_Ws_Bs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoauditoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesaBusquedaAfiliados_Ws_BsResponse">
        <s:complexType />
      </s:element>
      <s:element name="ProcesaBusquedaAfiliados_Adicional_Ws_Bs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoauditoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesaBusquedaAfiliados_Adicional_Ws_BsResponse">
        <s:complexType />
      </s:element>
      <s:element name="ProcesaBusquedaImagenes_Ws_Bs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoAuditoria" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="app" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesaBusquedaImagenes_Ws_BsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcesaBusquedaImagenes_Ws_BsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="transferir_sql_Ws_Bs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codAuditoria" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="app" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="transferir_sql_Ws_BsResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreaNuevaAuditoria_Ws_Bs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TipoBusqueda" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FormaBusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreaNuevaAuditoria_Ws_BsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreaNuevaAuditoria_Ws_BsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaExitimagenes_Ws_Bs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cod_auditoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaExitimagenes_Ws_BsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validaExitimagenes_Ws_BsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaExitimagenesRad_Ws_Bs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cod_auditoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaExitimagenesRad_Ws_BsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validaExitimagenesRad_Ws_BsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarAuditoria_Ws_Bs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoauditoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarAuditoria_Ws_BsResponse">
        <s:complexType />
      </s:element>
      <s:element name="dtbus_especifica_Ws_Bs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Valor1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Valor2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Valor3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Valor4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Valor5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dtbus_especifica_Ws_BsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtbus_especifica_Ws_BsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dtbus_pol_radic_Ws_Bs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoBusqueda" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codauditoria" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dtbus_pol_radic_Ws_BsResponse">
        <s:complexType />
      </s:element>
      <s:element name="dtbus_pol_radic_especific_Ws_Bs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoBusqueda" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codauditoria" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dtbus_pol_radic_especific_Ws_BsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcesaBusquedaAfiliados_Ws_BsSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesaBusquedaAfiliados_Ws_Bs" />
  </wsdl:message>
  <wsdl:message name="ProcesaBusquedaAfiliados_Ws_BsSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesaBusquedaAfiliados_Ws_BsResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesaBusquedaAfiliados_Adicional_Ws_BsSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesaBusquedaAfiliados_Adicional_Ws_Bs" />
  </wsdl:message>
  <wsdl:message name="ProcesaBusquedaAfiliados_Adicional_Ws_BsSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesaBusquedaAfiliados_Adicional_Ws_BsResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesaBusquedaImagenes_Ws_BsSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesaBusquedaImagenes_Ws_Bs" />
  </wsdl:message>
  <wsdl:message name="ProcesaBusquedaImagenes_Ws_BsSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesaBusquedaImagenes_Ws_BsResponse" />
  </wsdl:message>
  <wsdl:message name="transferir_sql_Ws_BsSoapIn">
    <wsdl:part name="parameters" element="tns:transferir_sql_Ws_Bs" />
  </wsdl:message>
  <wsdl:message name="transferir_sql_Ws_BsSoapOut">
    <wsdl:part name="parameters" element="tns:transferir_sql_Ws_BsResponse" />
  </wsdl:message>
  <wsdl:message name="CreaNuevaAuditoria_Ws_BsSoapIn">
    <wsdl:part name="parameters" element="tns:CreaNuevaAuditoria_Ws_Bs" />
  </wsdl:message>
  <wsdl:message name="CreaNuevaAuditoria_Ws_BsSoapOut">
    <wsdl:part name="parameters" element="tns:CreaNuevaAuditoria_Ws_BsResponse" />
  </wsdl:message>
  <wsdl:message name="validaExitimagenes_Ws_BsSoapIn">
    <wsdl:part name="parameters" element="tns:validaExitimagenes_Ws_Bs" />
  </wsdl:message>
  <wsdl:message name="validaExitimagenes_Ws_BsSoapOut">
    <wsdl:part name="parameters" element="tns:validaExitimagenes_Ws_BsResponse" />
  </wsdl:message>
  <wsdl:message name="validaExitimagenesRad_Ws_BsSoapIn">
    <wsdl:part name="parameters" element="tns:validaExitimagenesRad_Ws_Bs" />
  </wsdl:message>
  <wsdl:message name="validaExitimagenesRad_Ws_BsSoapOut">
    <wsdl:part name="parameters" element="tns:validaExitimagenesRad_Ws_BsResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarAuditoria_Ws_BsSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarAuditoria_Ws_Bs" />
  </wsdl:message>
  <wsdl:message name="ActualizarAuditoria_Ws_BsSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarAuditoria_Ws_BsResponse" />
  </wsdl:message>
  <wsdl:message name="dtbus_especifica_Ws_BsSoapIn">
    <wsdl:part name="parameters" element="tns:dtbus_especifica_Ws_Bs" />
  </wsdl:message>
  <wsdl:message name="dtbus_especifica_Ws_BsSoapOut">
    <wsdl:part name="parameters" element="tns:dtbus_especifica_Ws_BsResponse" />
  </wsdl:message>
  <wsdl:message name="dtbus_pol_radic_Ws_BsSoapIn">
    <wsdl:part name="parameters" element="tns:dtbus_pol_radic_Ws_Bs" />
  </wsdl:message>
  <wsdl:message name="dtbus_pol_radic_Ws_BsSoapOut">
    <wsdl:part name="parameters" element="tns:dtbus_pol_radic_Ws_BsResponse" />
  </wsdl:message>
  <wsdl:message name="dtbus_pol_radic_especific_Ws_BsSoapIn">
    <wsdl:part name="parameters" element="tns:dtbus_pol_radic_especific_Ws_Bs" />
  </wsdl:message>
  <wsdl:message name="dtbus_pol_radic_especific_Ws_BsSoapOut">
    <wsdl:part name="parameters" element="tns:dtbus_pol_radic_especific_Ws_BsResponse" />
  </wsdl:message>
  <wsdl:portType name="AuditoriaWsSoap">
    <wsdl:operation name="ProcesaBusquedaAfiliados_Ws_Bs">
      <wsdl:input message="tns:ProcesaBusquedaAfiliados_Ws_BsSoapIn" />
      <wsdl:output message="tns:ProcesaBusquedaAfiliados_Ws_BsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesaBusquedaAfiliados_Adicional_Ws_Bs">
      <wsdl:input message="tns:ProcesaBusquedaAfiliados_Adicional_Ws_BsSoapIn" />
      <wsdl:output message="tns:ProcesaBusquedaAfiliados_Adicional_Ws_BsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesaBusquedaImagenes_Ws_Bs">
      <wsdl:input message="tns:ProcesaBusquedaImagenes_Ws_BsSoapIn" />
      <wsdl:output message="tns:ProcesaBusquedaImagenes_Ws_BsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="transferir_sql_Ws_Bs">
      <wsdl:input message="tns:transferir_sql_Ws_BsSoapIn" />
      <wsdl:output message="tns:transferir_sql_Ws_BsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreaNuevaAuditoria_Ws_Bs">
      <wsdl:input message="tns:CreaNuevaAuditoria_Ws_BsSoapIn" />
      <wsdl:output message="tns:CreaNuevaAuditoria_Ws_BsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validaExitimagenes_Ws_Bs">
      <wsdl:input message="tns:validaExitimagenes_Ws_BsSoapIn" />
      <wsdl:output message="tns:validaExitimagenes_Ws_BsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validaExitimagenesRad_Ws_Bs">
      <wsdl:input message="tns:validaExitimagenesRad_Ws_BsSoapIn" />
      <wsdl:output message="tns:validaExitimagenesRad_Ws_BsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarAuditoria_Ws_Bs">
      <wsdl:input message="tns:ActualizarAuditoria_Ws_BsSoapIn" />
      <wsdl:output message="tns:ActualizarAuditoria_Ws_BsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dtbus_especifica_Ws_Bs">
      <wsdl:input message="tns:dtbus_especifica_Ws_BsSoapIn" />
      <wsdl:output message="tns:dtbus_especifica_Ws_BsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dtbus_pol_radic_Ws_Bs">
      <wsdl:input message="tns:dtbus_pol_radic_Ws_BsSoapIn" />
      <wsdl:output message="tns:dtbus_pol_radic_Ws_BsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dtbus_pol_radic_especific_Ws_Bs">
      <wsdl:input message="tns:dtbus_pol_radic_especific_Ws_BsSoapIn" />
      <wsdl:output message="tns:dtbus_pol_radic_especific_Ws_BsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuditoriaWsSoap" type="tns:AuditoriaWsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesaBusquedaAfiliados_Ws_Bs">
      <soap:operation soapAction="http://tempuri.org/ProcesaBusquedaAfiliados_Ws_Bs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaBusquedaAfiliados_Adicional_Ws_Bs">
      <soap:operation soapAction="http://tempuri.org/ProcesaBusquedaAfiliados_Adicional_Ws_Bs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaBusquedaImagenes_Ws_Bs">
      <soap:operation soapAction="http://tempuri.org/ProcesaBusquedaImagenes_Ws_Bs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transferir_sql_Ws_Bs">
      <soap:operation soapAction="http://tempuri.org/transferir_sql_Ws_Bs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaNuevaAuditoria_Ws_Bs">
      <soap:operation soapAction="http://tempuri.org/CreaNuevaAuditoria_Ws_Bs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaExitimagenes_Ws_Bs">
      <soap:operation soapAction="http://tempuri.org/validaExitimagenes_Ws_Bs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaExitimagenesRad_Ws_Bs">
      <soap:operation soapAction="http://tempuri.org/validaExitimagenesRad_Ws_Bs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAuditoria_Ws_Bs">
      <soap:operation soapAction="http://tempuri.org/ActualizarAuditoria_Ws_Bs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dtbus_especifica_Ws_Bs">
      <soap:operation soapAction="http://tempuri.org/dtbus_especifica_Ws_Bs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dtbus_pol_radic_Ws_Bs">
      <soap:operation soapAction="http://tempuri.org/dtbus_pol_radic_Ws_Bs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dtbus_pol_radic_especific_Ws_Bs">
      <soap:operation soapAction="http://tempuri.org/dtbus_pol_radic_especific_Ws_Bs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuditoriaWsSoap12" type="tns:AuditoriaWsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesaBusquedaAfiliados_Ws_Bs">
      <soap12:operation soapAction="http://tempuri.org/ProcesaBusquedaAfiliados_Ws_Bs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaBusquedaAfiliados_Adicional_Ws_Bs">
      <soap12:operation soapAction="http://tempuri.org/ProcesaBusquedaAfiliados_Adicional_Ws_Bs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaBusquedaImagenes_Ws_Bs">
      <soap12:operation soapAction="http://tempuri.org/ProcesaBusquedaImagenes_Ws_Bs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transferir_sql_Ws_Bs">
      <soap12:operation soapAction="http://tempuri.org/transferir_sql_Ws_Bs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaNuevaAuditoria_Ws_Bs">
      <soap12:operation soapAction="http://tempuri.org/CreaNuevaAuditoria_Ws_Bs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaExitimagenes_Ws_Bs">
      <soap12:operation soapAction="http://tempuri.org/validaExitimagenes_Ws_Bs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaExitimagenesRad_Ws_Bs">
      <soap12:operation soapAction="http://tempuri.org/validaExitimagenesRad_Ws_Bs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAuditoria_Ws_Bs">
      <soap12:operation soapAction="http://tempuri.org/ActualizarAuditoria_Ws_Bs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dtbus_especifica_Ws_Bs">
      <soap12:operation soapAction="http://tempuri.org/dtbus_especifica_Ws_Bs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dtbus_pol_radic_Ws_Bs">
      <soap12:operation soapAction="http://tempuri.org/dtbus_pol_radic_Ws_Bs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dtbus_pol_radic_especific_Ws_Bs">
      <soap12:operation soapAction="http://tempuri.org/dtbus_pol_radic_especific_Ws_Bs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuditoriaWs">
    <wsdl:port name="AuditoriaWsSoap" binding="tns:AuditoriaWsSoap">
      <soap:address location="http://localhost:4854/AuditoriaWs.asmx" />
    </wsdl:port>
    <wsdl:port name="AuditoriaWsSoap12" binding="tns:AuditoriaWsSoap12">
      <soap12:address location="http://localhost:4854/AuditoriaWs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>